DEBUG=False
SECRET_KEY=your-secret-key-here-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,inventory.cloudns.be

DB_ENGINE=django.db.backends.postgresql
DB_NAME=loteria
DB_USER=loteria_user
DB_PASSWORD=loteria_pass
DB_HOST=db
DB_PORT=5432

CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000,https://inventory.cloudns.be
